body {
    background-color: rgb(250, 250, 250);    
}
.container{
    display: flex;    
    flex-direction: column;
}

.navigationLinks{
    display: flex;
    justify-content: flex-start;
    
}
li{
    list-style-type: none;
    border: 1px solid grey;
    padding: 10px;
    color: black
}
a{
    text-decoration: none;
    color: black;
}